@model ProjectSibers.Models.Employee_Project

@{
    ViewData["Title"] = "Details";
}

<h1>Данные о</h1>

<div>
    @*<h4>Employee_Project</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.epID">Редактировать</a> |
    <a asp-action="Index">Bозврат к общему списку</a>
</div>
