@model IEnumerable<ProjectSibers.Models.Employee_Project>

@{
    ViewData["Title"] = "Index";
}
    <h1>Проект_Сотрудник</h1>

<p>
    <a asp-action="Create">Добавить новую запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.epID">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.epID">Данные о</a> |
                <a asp-action="Delete" asp-route-id="@item.epID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
